<!--<p id="notice"><%= notice %></p> -->

<h1>Listing Chirps</h1>

<% @chirps.each do |chirp| %>
  <article class="chirp-container">
    <p><%= chirp.body %></p>
    <p>Posted by <%= chirp.user.username %></p>

    <div class="chirps-actions">
      <%= link_to 'Edit', edit_chirp_path(chirp) %> // <%= link_to 'Destroy', chirp, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </article>
<% end %>

<%= link_to 'New Chirp', new_chirp_path, :class=>'btn btn-primary' %>
